@media screen and (max-width: 1024px) {
  .show {
    display: inline-block;
  }
  .main-navbar {
    transition-delay: 2s;
    transform-origin: top;
    transition: all 2s linear ease-in-out;
  }
  .nav {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .show {
    display: none;
  }
}
