@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.text-ebony {
  color: #111430;
}
.text-violet-red {
  color: #f63e7b;
}
.cursor-pointor {
  cursor: pointer;
}
.btn {
  padding: 5px 10px;
  background: #f63e7b;
  border-radius: 5px;
}
